== Changelog ==

= 2.5.0 (2024-10-17) =
* Fix blog switching bug in WordPress Multisite (Network) installations
* Add caching to user roles getter function, along with proper cache invalidation, to improve the plugin's performance
* Language mapping file added for easier generation of JSON translation files
* Dependencies updated
* Code improvements

= 2.4.0 (2024-08-30) =
* Compatibility with older version of PHP (7.4) implemented
* Dependencies updated
* Code improvements

= 2.3.0 (2024-08-20) =
* Integration with WooCommerce implemented
* Required WordPress core version bumped to 6.6 to use the new React JSX runtime package
* Plugin container implementation improved
* Dependencies updated
* Code improvements

= 2.2.0 (2024-07-11) =
* Settings page redesigned
* Dependencies updated
* Code improvements

= 2.1.2 (2024-05-24) =
* Dependencies updated
* Code improvements

= 2.1.1 (2024-05-02) =
* Plugin loader improved

= 2.1.0 (2024-04-26) =
* Code improvements and dependency updates
* Improvements on plugin activation and deactivation hooks registration
* Components package integrated

= 2.0.0 (2024-03-08) =
* Free and premium features separated
* Plugin container implemented

= 1.2.0 (2024-01-26) =
* Internal dependency management improved
* Assets loading improved
* Unnecessary ABSPATH check removed
* Type check improved
* Settings and Fields configuration improved

= 1.1.2 (2023-12-22) =
* Settings page build process improved
* Code organization improvements
* Dependency updates

= 1.1.1 (2023-11-24) =
* Translations loading improved
* Dependency updates

= 1.1.0 (2023-11-10) =
* User password expiry check implemented for logged-in users
* Confirmed support with WordPress 6.4
* Post-login notice updated for users whose password has expired
* Dependency updates

= 1.0.3 (2023-11-07) =
* Logic for handling the maximum number of consecutive user symbols improved
* Dependency updates
* Typos fixed

= 1.0.2 (2023-10-27) =
* All `site_url` functions replaced with `home_url`

= 1.0.1 (2023-10-26) =
* Minimal supported WordPress version confirmed at 6.1
* Password compliance check on user account creation within a single-instance WordPress installation confirmed
* Fix typos
* Move uninstall hook into a separate file

= 1.0.0 (2023-10-25) =
* The first stable release
