== Changelog ==

= 2.4.0 (2024-08-20) =
* Password reset validation improvements - now rendering an user-friendly error message rather than a "wp_die" screen
* Password hint logic improved
* Required WordPress core version bumped to 6.6 to use the new React JSX runtime package
* Plugin container implementation improved
* Dependencies updated
* Code improvements

= 2.3.0 (2024-07-11) =
* Settings page redesigned
* Dependencies updated
* Code improvements

= 2.2.0 (2024-05-24) =
* Dependencies updated
* Code improvements
* Basic onboarding process implemented

= 2.1.1 (2024-04-26) =
* Plugin assets and descriptions updated

= 2.1.0 (2024-04-26) =
* Code improvements and dependency updates
* Improvements on plugin activation and deactivation hooks registration

= 2.0.0 (2024-04-12) =
* The first stable, public release
