== Changelog ==

= 2.2.0 (2024-05-24) =
* Dependencies updated
* Code improvements
* Basic onboarding process implemented

= 2.1.1 (2024-04-26) =
* Plugin assets and descriptions updated

= 2.1.0 (2024-04-26) =
* Code improvements and dependency updates
* Improvements on plugin activation and deactivation hooks registration

= 2.0.0 (2024-04-12) =
* The first stable, public release
